{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LootShelf{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        
        {% block stylesheets %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="app-wrapper">
            <header class="head">
                <div class="logo-area">
                    <a href="{{ path('app_home') }}">
                        <img src="{{ asset('image/logo_lootshelf.png') }}" alt="LootShelf" class="pixelated" height="55">
                    </a>
                </div>
                
                <nav class="nav-links">
                    <a href="{{ path('app_register') }}" class="btn-neon btn-neon-pink rounded-3 px-4 py-2">S'INSCRIRE</a>
                    <a href="#" class="btn-neon btn-neon-blue rounded-3 px-4 py-2">SE CONNECTER</a>
                </nav>
            </header>

            <main class="main-content">
                {% block body %}{% endblock %}
            </main>

            <footer class="foot">
                <p class="text-foot">2026 LootShelf | Powered by Alexis BAIL</p>
            </footer>
        </div>

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </body>
</html>